Last login: Tue Nov 15 09:05:06 on console
c%                                                                              ➜  ~ cd Documents/www
➜  www gcl git@github.com:jiangxd2016/vite-template.git
Cloning into 'vite-template'...
/Users/xd/.ssh/config line 2: Unsupported option "rsaauthentication"
remote: Enumerating objects: 181, done.
remote: Counting objects: 100% (181/181), done.
remote: Compressing objects: 100% (120/120), done.
remote: Total 181 (delta 94), reused 134 (delta 51), pack-reused 0
Receiving objects: 100% (181/181), 166.44 KiB | 325.00 KiB/s, done.
Resolving deltas: 100% (94/94), done.
➜  www git@github.com:jiangxd2016/starter-ts.git
➜  www gcl git@github.com:jiangxd2016/starter-ts.git
Cloning into 'starter-ts'...
/Users/xd/.ssh/config line 2: Unsupported option "rsaauthentication"
remote: Enumerating objects: 42, done.
remote: Counting objects: 100% (42/42), done.
remote: Compressing objects: 100% (23/23), done.
remote: Total 42 (delta 8), reused 35 (delta 8), pack-reused 0
Receiving objects: 100% (42/42), 62.17 KiB | 268.00 KiB/s, done.
Resolving deltas: 100% (8/8), done.
➜  www cd starter-ts
➜  starter-ts git:(main) code .
➜  starter-ts git:(main) ls
LICENSE             playground          src                 tsup.config.ts
README.md           pnpm-lock.yaml      test                vitest.config.ts
package.json        pnpm-workspace.yaml tsconfig.json
➜  starter-ts git:(main) ✗ cd ..
➜  www ls
dotfiles      ja-netfilter  naive-ui      tiny-compiler ui-reference
eurus-ui      java-learn    starter-ts    tools         vite-template
➜  www cd ui-reference/
➜  ui-reference git:(main) ✗ vim .npmrc








shamefully-hoist=true
strict-peer-dependencies=false

registry=https://registry.npmmirror.com/

